<p>
    With the overall goal of creating an integrated marketing campaign that unites customers to the websites and applications, 
    it was imperative to identify, and focus on the strengths of Prolixity Solutions in relation to its competitors. 
    Upon review of provided information, multiple focus areas were identified. Aside from the state-of-the-art website and 
    application design attracting customers. There will be a number of opportunities to compete with website giants Yahoo and 
    Google (which will all be highlighted in the campaign). Additionally, we felt communicating with customers on the phone 
    and face to face will boost networking and career opportunities provided by Prolixity. These aspects of our company are what 
    set us apart from our competitors the most. After identifying this, the next aspect to consider was who would be the best 
    audience to communicate this to, and the most effective ways to do so. After careful consideration and further research, 
    our team felt it would be best to target college students within the west coast region.
</p>
<p>
    We feel catering towards college students is an untapped market regarding current marketing methods implemented by the average 
    college IT and IS departments, along with Best Buy computer services. In addition to this, we feel that the primary strength of 
    networking and career opportunities offered by the college COB will be valued by college students, since they do not want to 
    wait all day for their laptop or tablet to get fixed. Since college students are primarily the ones paying for the experience, 
    they are more concerned about the life of their laptop or tablet. This is exactly where Prolixity Solutions excels. If we can 
    get our friends to talk positively about this new information technology services (Prolixity Solutions) and consider us instead 
    of a bottleneck IS or IT department, we believe our servers and our positive company culture created within our organization 
    will be enough to seal the deal.
</p>
<p>
    College students tend to get flustered when their laptop or tablet is not working properly. Prolixity Solutions offers the 
    opportunity for not just college college students, but also Corvallis residents to GET different options of getting their 
    hardware and software fixed, NOW. This is the main idea of our campaign, highlighting all of the unique experiences and 
    opportunities Prolixity Solutions allows college Corvallis students and residents to explore. Prolixity Solutions provides 
    students a well-rounded and immersive experience fixing their information technology and systems with our employees, due to 
    the fact we are free to chat one on one with customers; this ability of customer engagement cannot be found anywhere else. No 
    matter what it may be, Prolixity Solutions allows both college students and residents to develop a better sense of what specifically 
    they need assistance with, when it comes down to fixing laptops and tablets. 
</p>
<p>
    The best ways to reach our target market of college college students and residents would be by person, 
    social media, and e-mail. College students still appreciate talking with peers in person, even though 
    it can be a challenge. The email would contain word of mouth marketing, appealing to college college 
    students who are tired of waiting around for college IT and IS services to fix their laptops and 
    tablets. Our research indicates our target market remains heavily influenced by social media and in 
    person communication. We feel the message of our campaign offers numerous opportunities to be successful 
    through these mediums.
</p>
<p>
    For Prolixity Solutions to attract more college students and residents, the integrated marketing campaign must 
    focus on the unique experiences, and opportunities that are offered to students and residents. It must demonstrate 
    that these unique offerings allow students to explore their interests and grow as future professionals. By centering 
    the campaign around these principles and focusing marketing efforts towards college students and residents, Prolixity 
    Solutions will have the potential to reach more customers, creating new and powerful future relationships.
</p>