<nav class="navbar navbar-expand-sm navbar-dark header">
    <div class="col-sm-4">
        <a class="navbar-brand siteTitle" href="/">
            Project Pavlov
        </a>
    </div>
    <ul class="navbar-nav ml-auto buttonContainer">
        {{!-- <li class="nav-item headerButtonR">
            <a class="nav-link" id="home" aria-label="Home" href="/home">Home</a>
        </li> --}}
        <li class="nav-item headerButtonR">
            <a class="nav-link" aria-label="GitHub" href="https://github.com/CJ-Pav/">GitHub</a>
        </li>
        <li class="nav-item headerButtonR">
            <a class="nav-link" aria-label="LinkedIn" href="https://www.linkedin.com/in/cjpavlovich/">LinkedIn</a>
        </li>
        <li class="nav-item headerButtonR">
            <a class="nav-link" aria-label="Facebook" href="https://www.facebook.com/christopher.pavlovich">Facebook</a>
        </li>
    </ul>
</nav>
