
<nav class="navbar navbar-expand-sm navbar-dark header">
    <div class="col-sm-4">
        <a class="navbar-brand siteTitle" href="/">
            Project Pavlov
            {{!-- <img class="headerButtonL iconic" src="pictures/check-mark-icon.jpg" style="width: 30px"> --}}
        </a>
    </div>
    <ul class="navbar-nav ml-auto buttonContainer">
        <li class="nav-item headerButtonR">
            <a class="nav-link" id="home" aria-label="Home" href="/home">Home</a>
        </li>
        <li class="nav-item headerButtonR">
            <a class="nav-link" id="sign-in" aria-label="Sign-In" href="./sign-in">Sign-In</a>
        </li>
        {{!-- <li class="nav-item headerButtonR">
            <a class="nav-link" id="contact" aria-label="ContactUs" href="./contact">Contact</a>
        </li> --}}
    </ul>
</nav>
