<section class="info-banner">
    <div class="container navbar-dark">
        <div class="row"> 
            <ul class="navbar-nav col-sm-3 buttonContainer">
                <li>
                    <a>Project Pavlov</a>
                </li>
                <li>
                    <a>cpav@live.com</a>
                </li>
                {{!-- <li>
                    <a>(253) 327-0732</a>
                </li> --}}
            </ul>
            <div class="col-sm-6"></div>
            <ul class="navbar-nav col-sm-3 buttonContainer">
                <li class="nav-item banner-button">
                    <a class="nav-link" aria-label="project-pavlov" href="https://github.com/CJ-Pav/project-pavlov">GitHub Repository</a>
                </li>
            </ul>
        </div>
    </div>
</section>