<section class="basic-box opt-container">
    <div class="opt-box">
        {{!-- <h3 class="opt-title col-sm-12">Current Projects</h3> --}}
        {{!-- <div class="col-sm-22"></div> --}}
        <div class="row">
            <div class="opt-text col-sm-4">
                <p class="proj-title">Pro-Network</p>
                <p class="proj-text">
                    This product is in testing and will be coming soon! The prolixity network focuses on the simplification 
                    of contract style work in the vast industry of software and web development.
                </p>
            </div>
            <div class="opt-text col-sm-8">
                <p class="proj-title">Prolixity O.S.</p>
                <p class="proj-text">
                    An enterprise solution to operating systems with affordable business and application support.
                    Arch Linux base featuring SELinux and all of the latest tools from the Pro-Utilities software suite.
                    If the development cycle for this product continues on track, we are considering an entirely 
                    open source license to allow editing and redistribution for companies everywhere.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="opt-text col-sm-8">
                <p class="proj-title">Pro-Utilities</p>
                <p class="proj-text">
                    In the works is a set of simple and secure system administration tools designed 
                    to ease the learning curve in unix based systems through process automation.
                    <ul>
                        <li>User account management</li>
                        <li>System/account backup and recovery</li>
                    </ul>
                </p>
            </div>

            <div class="opt-text col-sm-4">
                <p class="proj-title">Pro-Create</p>
                <p class="proj-text">
                    Feeling clever? Be the first to submit a new idea and our programmers will begin designing. 
                    When the product takes off, you get a percentage!
                </p>
            </div>
        </div>
    </div>
</section>  
