<nav class="navbar navbar-expand-sm navbar-light header-prolixity">
    <div class="col-sm-4">
        <a class="navbar-brand siteTitle" href="./prolixity">
            Prolixity Solutions
            <img class="headerButtonL iconic" src="pictures/check-mark-icon.jpg" style="width: 30px">
        </a>
    </div>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <form class="col-sm-4 nav-item searchbar active">
        {{!-- <input type="text" style="color: black; width: 100%;" id="searchBox" onkeyup="CheckSearch(event)"  placeholder="Search..."> --}}
    </form>
    <ul class="navbar-nav ml-auto buttonContainer">
        <li class="nav-item headerButtonR">
            <a class="nav-link" id="home" aria-label="Home" href="./home">Home</a>
        </li>
        {{!-- <li class="nav-item headerButtonR">
            <a class="nav-link"id="loginPage" aria-label="LogIn" href="./logIn">Log In</a>
        </li> --}}
        {{!-- <li class="nav-item headerButtonR">
            <a class="nav-link" id="signupPage" aria-label="SignUp" href="./signUp">Sign Up</a>
        </li> --}}
        {{!-- <li>
            <a class="nav-link" id="account" aria-label="Account" href="./account">Account</a>
        </li> --}}
    </ul>
</nav>
