<section class="info-banner">
    <div class="container navbar-dark">
        <div class="row"> 
            <ul class="navbar-nav col-sm-3 buttonContainer">
                <li class="nav-item headerButtonR">
                    Prolixity Solutions
                </li>
                <li class="headerButtonR">
                    cpav@live.com
                </li>
                <li class="headerButtonR">
                    (253)327-0732
                </li>
            </ul>
            <div class="col-sm-6"></div>
            <ul class="navbar-nav col-sm-3 buttonContainer">
                <li class="nav-item headerButtonR">
                    <a class="nav-link headerButtonR" id="contributions" aria-label="Contributions" href="./prolixityContributions">Contributors</a>
                </li>
                <li class="nav-item headerButtonR">
                    <a class="nav-link" id="aboutPage" aria-label="About" href="./about-prolixity">About</a>
                </li>
            </ul>
        </div>
    </div>
</section>