{{> prolixityHeader}}

<main role="main">
    <section class="greeter">
        Interested in Prolixity? Please read on and see our contributions page to admire the dedicated individuals 
        who have helped drive our progress thus far!
    </section>
    
    <div class="home-container">
        <section class="basic-box container">
            <div class="opt-box">
                <div class="opt-text">
                    <p class="sec-title">Mission Statement</p>
                    <a class="proj-text">
                        <p>
                            To provide top-tier services in information technologies, system administration, data analytics, and software
                            development.
                        </p>
                    </a>
                </div>
            </div>
            <div class="opt-box">
                <div class="opt-text">
                    <p class="sec-title">Executive Summary</p>
                    <a class="basic-text">
                        {{> execSummary}}
                    </a>
                </div>
            </div>
        </section>
    </div>
    
    {{> prolixityBanner}}
</main>