{{!-- home page --}}

{{> pavlovHeader}}

<main role="main">
    <div class="greeter">
        Welcome! This site is under construction, but please read about a few of my projects below. Check back for updates!
    </div>

    <div class="home-container container">
        <section class="basic-box opt-container">

            <div class="opt-box">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">Web Development</a>
                        <p class="proj-text">
                            A collection of templates implementing more modern node.js libraries. The page you are currently viewing 
                            is one example implementing the following:
                            <ul>
                                <li>Dynamic generation with <a href="https://handlebarsjs.com/">handlebars</a></li>
                                <li>Page rendering and serving with <a href="https://expressjs.com/">express</a></li>
                                <li>Styling with <a href="https://getbootstrap.com/">bootstrap</a> and a few custom CSS classes</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="opt-box">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">Server Administration</a>
                        <p class="proj-text">
                            This has taken shape in a set of "Admin Utilities" that maintain the majority of 
                            tasks required to keep a Linux system running in a user friendly fasion. These include but are not limited to automated backups, 
                            system configuration, general security, application hosting, private source control, and authentication.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="opt-box">
                <div class="row">
                    {{!-- <h3 class="opt-title col-sm-12">Current Projects</h3> --}}
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title" href="https://www.bytephyte.com">Bytephyte</a>
                        <p class="proj-text"></p>
                            Bytephyte focuses on the design, implementation, and deployment of web and mobile applications. Sound 
                            interesting? Ask me about it!
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

        </section>  
    </div>
    
    {{> pavlovBanner}}
</main>

{{!-- <script src="/home.js" charset="utf-8"></script> --}}
