{{!-- home page --}}

{{> pavlovHeader}}

<main role="main">
    <div class="greeter">
        Welcome! This site is under construction, but please read about a few of my projects below. Check back for updates!
    </div>

    <div class="home-container container">
        <section class="basic-box opt-container">
            <div class="opt-box">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">Proof of Concepts</a>
                        <p class="proj-text">
                            A collection of templates implementing more modern node.js libraries. The page you are currently viewing 
                            is one example implementing the following:
                            <ul>
                                <li>Dynamic generation with <a href="https://handlebarsjs.com/">handlebars</a></li>
                                <li>Page rendering and serving with <a href="https://expressjs.com/">express</a></li>
                                <li>Styling with <a href="https://getbootstrap.com/">bootstrap</a> and a few custom CSS classes</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="opt-box">
                <div class="row">
                    {{!-- <h3 class="opt-title col-sm-12">Current Projects</h3> --}}
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title" href="https://prolixity.io">Prolixity Solutions</a>
                        <p class="proj-text">
                            Prolixity focuses on the design, implementation, and deployment of web and mobile applications. Sound 
                            interesting? Read more about the start-up in the making and some of their projects at <a href="https://prolixity.io">prolixity.io</a>.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="opt-box">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">Server Administration</a>
                        <p class="proj-text">
                            Recently I had the opportunity to set up and begin managing servers for Prolixity. This includes but is not limited to automated backups, backend 
                            security, application hosting, private code repositories, and authentication.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="opt-box">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">The Pavlovich Foundation</a>
                        <p class="proj-text">
                            While still a ways out, in the works is a new and more reliable way to give back. The idea is to create a charity tracker to scrape the web for 
                            new and growing causes. My end goal is to make a way to reassure donors that their funds reach the appropriate cause and prevent abuse of donations on the internet.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </section>  
    </div>
    
    {{> pavlovBanner}}
</main>

{{!-- <script src="/home.js" charset="utf-8"></script> --}}
