{{!-- home page --}}

{{> pavlovHeader}}

<main role="main">
    <div class="greeter">
        Welcome! This site is under construction, but please read about a few of my ongoing projects below!
    </div>

    <div class="home-container container">
        <section class="basic-box opt-container">
            <div class="opt-box">
                <div class="row">
                    {{!-- <h3 class="opt-title col-sm-12">Current Projects</h3> --}}
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">Prolixity Solutions</a>
                        <p class="proj-text">
                            Rewarding creativity with the implementation and devlopment of application and web site ideas. Sound 
                            interesting? Contact me to contribute to one of our projects! Read more about the start-up in the making at 
                            www.prolixitysolutions.com.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="opt-box">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">Server Administration</a>
                        <p class="proj-text">
                            In my free time I manage a cluster of servers for Prolixity Solutions. This includes automated backups,  
                            backend security, hosting, file storage, and authentication.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="opt-box">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">Proof of Concepts</a>
                        <p class="proj-text">
                            A collection of templates utilizing more modern node.js libraries such as React, Bootstrap, and Express.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>

            <div class="opt-box">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="proj-title">The Pavlovich Foundation</a>
                        <p class="proj-text">
                            In the works is a new, more reliable way to give back. My charity tracker will monitor the ether for new 
                            and growing causes, resulting in a way to reassure donors that their funds reach the appropriate cause.
                        </p>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </section>  
    </div>
    
    {{> pavlovBanner}}
</main>

{{!-- <script src="/home.js" charset="utf-8"></script> --}}
