<main role="main"></main>

    {{!-- Header --}}
{{> prolixityHeader}}

    {{!-- Greeter --}}
    <div class="greeter">
        Hello! Prolixity Solutions is a partnership in the making but more importantly a 
        small taste of our web development abilities. Critiques are welcome! Please contact 
        us with an option at the bottom of this page.
    </div>

    <!-- Content -->
    <div class="home-container container">
        <section class="basic-box opt-container">
            <div class="opt-box">
                <div class="row">
                    {{!-- <h3 class="opt-title col-sm-12">Current Projects</h3> --}}
                    <div class="col-sm-2"></div>
                    <div class="opt col-sm-8">
                        <a class="h1">
                            Website currently under construction, please browse my home page for 
                            a more complete example.    
                        </a>
                        {{!-- <p class="proj-text">
                            Rewarding creativity with the implementation and devlopment of application and web site ideas.
                        </p> --}}
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </section>  

    </div>
    
    <!-- Info Banner -->
    {{> prolixityBanner}}
</main>
